<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

    <!-- board 테이블 전체 컬럼 -->
    <sql id="boardColumns">
          board_id
        , title
        , content
        , writer
        , view_cnt
        , reply_cnt
        , reg_dt
        , mod_dt
    </sql>

    <!-- 게시글리스트 조회 -->
    <select id="selectBoardList" resultType="com.mybatis.boardProject.board.BoardDTO">
        select <include refid="boardColumns" />
          from board
    </select>

    <!-- 게시글 상세조회 -->
    <select id="selectBoard" parameterType="long" resultType="com.mybatis.boardProject.board.BoardDTO">
        select <include refid="boardColumns" />
          from board
         where board_id = #{boardId}
    </select>

    <!-- 게시글 저장 -->
    <insert id="insertBoard" parameterType="com.mybatis.boardProject.board.BoardDTO">
        insert into board (
                            <include refid="boardColumns" />
                            ) values (
                                      #{boardId}
                                    , #{categoryId}
                                    , #{title}
                                    , #{content}
                                    , #{writer}
                                    , 0
                                    , NOW()
                                    , NULL
                                    )
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="com.mybatis.boardProject.board.BoardDTO">
        update board
           set mod_dt   = now()
             , title    = #{title}
             , content  = #{content}
         where board_id = #{boardId}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="long">
        delete board
         where board_id = #{boardId}
    </delete>
</mapper>