<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="postMapper">

    <!-- post 테이블 전체 컬럼 -->
    <sql id="postColumns">
          postId
        , title
        , content
        , view_cnt
        , reply_cnt
        , user_id
        , n_user_id
        , n_pwd
        , del_yn
        , board_id
        , reg_dt
        , mod_dt
    </sql>

    <!-- 게시글리스트 조회 -->
    <select id="selectPostList" resultType="com.mybatis.boardProject.post.PostDTO">
        select <include refid="postColumns" />
          from board
    </select>

    <!-- 게시글 상세조회 -->
    <select id="selectPost" parameterType="long" resultType="com.mybatis.boardProject.post.PostDTO">
        select <include refid="postColumns" />
          from board
         where board_id = #{boardId}
    </select>

    <!-- 게시글 저장 -->
    <insert id="insertPost" parameterType="com.mybatis.boardProject.post.PostDTO">
        insert into post (
                            <include refid="postColumns" />
                            ) values (
                                      #{boardId}
                                    , #{categoryId}
                                    , #{title}
                                    , #{content}
                                    , #{writer}
                                    , 0
                                    , NOW()
                                    , NULL
                                    )
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="com.mybatis.boardProject.post.PostDTO">
        update post
           set mod_dt   = now()
             , title    = #{title}
             , content  = #{content}
        where post_id = #{postId}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deletePost" parameterType="long">
        update post
           set del_yn   = false
         where post_id = #{postId}
    </delete>
</mapper>